body {
    font-family: Arial, sans-serif;
    background-color: #333333;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex; /* Aliniere pe centru pe ambele axe */
    justify-content: center; /* Aliniere pe orizontală */
    align-items: center; /* Aliniere pe verticală */
    min-height: 100vh; /* Înălțime minimă a paginii întregi */
}

.container {
    width: 25%; /* Lățimea containerului */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

h1,h2 {
    text-align: center;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05); /* Zoom in by 5% */
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

li {
    display: inline-block;
    font-size: 24px;
    margin: 5px;
    background-color: #666666;
    padding: 10px;
    border-radius: 5px;
}

.container {
    background-color: #444444; /* Culoarea containerului */
}






.trifoi {
    position: absolute;
    top: 50px; /* Distanța față de marginea superioară a paginii */
    left: 50%; /* Alinierea la mijlocul paginii pe orizontală */
    transform: translateX(-50%); /* Centrarea orizontală exactă */
    width: 300px; /* Ajustează dimensiunea imaginii după necesități */
    height: 300px; /* Ajustează dimensiunea imaginii după necesități */
}

.trifoi img {
    width: 100%; /* Asigură că imaginea ocupă întreaga suprafață a containerului */
    height: 100%; /* Asigură că imaginea ocupă întreaga suprafață a containerului */
    opacity: 0.7; /* Setează opacitatea imaginii la 70% */
}




/* optimized for smartphones */
@media only screen and (max-width: 600px) {
    .container {
        width: 90%; /* Ajustează lățimea containerului pentru dispozitive mici */
    }

    .trifoi {
        width: 200px; /* Ajustează dimensiunea imaginii pentru dispozitive mici */
        height: 200px; /* Ajustează dimensiunea imaginii pentru dispozitive mici */
    }
}

@media only screen and (max-width: 400px) {
    .container {
        width: 95%; /* Ajustează lățimea containerului pentru dispozitive extra-mici */
    }

    .trifoi {
        width: 150px; /* Ajustează dimensiunea imaginii pentru dispozitive extra-mici */
        height: 150px; /* Ajustează dimensiunea imaginii pentru dispozitive extra-mici */
    }
}
